nav {
    background-color: #fbf3e5;
}

body {
    font-family: 'Montserrat', sans-serif !important;
}

.paragraph {
    line-height: 2.5rem;
}

.navbar-text {
    color: #8B0D11;
    font-weight: 600;
}

.title-text {
    color: #8B0D11;
    font-weight: 600;
    letter-spacing: 0.2rem;
}

.cta {
    background-color: #FCB507;
    border-radius: 9px;
}

.hero {
    background-color: #fbf3e5;
}

.wide {
    width: 120%;
}

.section-mission {
    background-color: #8B0D11;
    color: #fbf3e5;
}

.smaller {
    font-size: smaller;
    padding: 1rem;
}

.img-sm {
    max-width: 50%; /* Adjust the max-width as per your requirement */
    height: auto; /* Maintain aspect ratio */
}

.section-vision {
    background-color: #FCB507;
}

.accordion-button::after {
    background-image: initial;
}

.accordion-button:not(.collapsed)::after {
    background-image: initial;
}

.table-data {
    font-weight: normal;
}

ion-icon {
    font-size: 64px;
    color: #8B0D11;
}

@media (max-width: 768px) {
    .help-card {
        margin: 0 auto;
        /* Center the card horizontally */
        text-align: center;
        /* Center text inside card */
    }

    .card .ion-icon {
        margin: 0 auto;
        /* Adjust vertical alignment of Ionicons */
    }
}

.social {
    font-size: 32px;
    color: white;
}